<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.angry.openeuicc.common">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="im.angry.openeuicc.ui.SettingsActivity"
            android:label="@string/pref_settings" />

        <activity
            android:name="im.angry.openeuicc.ui.NotificationsActivity"
            android:label="@string/profile_notifications" />

        <activity
            android:name="im.angry.openeuicc.ui.DirectProfileDownloadActivity"
            android:label="@string/profile_download"
            android:theme="@style/Theme.AppCompat.Translucent" />

        <activity
            android:name="im.angry.openeuicc.ui.LogsActivity"
            android:label="@string/pref_advanced_logs" />

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <service
            android:name="im.angry.openeuicc.service.EuiccChannelManagerService"
            android:exported="false" />
    </application>
</manifest>
