<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="im.angry.openeuicc"
    tools:ignore="ProtectedPermissions">

    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EMBEDDED_SUBSCRIPTIONS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SECURE_ELEMENT_PRIVILEGED_OPERATION" />

    <application
        android:name=".OpenEuiccApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OpenEUICC"
        android:networkSecurityConfig="@xml/network_security_config">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.OpenEuiccService"
            android:exported="true"
            android:permission="android.permission.BIND_EUICC_SERVICE">
            <intent-filter android:priority="100">
                <action android:name="android.service.euicc.EuiccService" />
            </intent-filter>
        </service>

        <activity android:name=".ui.LuiActivity"
            android:exported="true"
            android:permission="android.permission.BIND_EUICC_SERVICE">
            <intent-filter android:priority="100">
                <action android:name="android.service.euicc.action.MANAGE_EMBEDDED_SUBSCRIPTIONS" />
                <action android:name="android.service.euicc.action.PROVISION_EMBEDDED_SUBSCRIPTION" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.service.euicc.category.EUICC_UI" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
    </application>

</manifest>